* {
    box-sizing: border-box;
    height: auto;
    

}
body {
    display: grid;
    width:100%;
    margin: 0;
    line-height: 1.2;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.nav-section {
    padding-bottom: 50px;
    margin: 0;
    left: 0;
    border-radius: 10px;
    

}

.nav-content > ul > li:hover,
.nav-content > ul > li:focus {
   background-color: indianred;
   color: indigo;
}

   

.title {
display:flex;
position: relative;
justify-content: center;
margin: 0;
font-size: xx-large;
color: balck;
background: linear-gradient(
    hsla(0, 0%, 0%, 0.0),
    rgba(224, 97, 97, 0.3) 30%,
    hsl(0 0% 0% / 0.9)
);
transform: translateY(50%);
transition: transform 500ms ease;
     


}

.header-section {
    display: flex;
    width: 100%;
    height: 100vh;
     
    
}

.nav-content > ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    top: 10px;
    margin: 0;
    
}

.nav-content > ul > li {
    color: black;
}
.about-me-title {
    font-size: 18px;
    padding: 5px;
    color: wheat;
    
}

.card {
    padding: 2rem;
    background-size: cover;
    background-color: rgb(143, 92, 179);
    overflow: hidden;
    height: 100vh;
    margin-right: 2px;
    transition: transform 500ms ease;
          
}


.card-1 {
    padding: 2rem;
    background-size: cover;
    background-color: rgb(143, 92, 179);
    overflow: hidden;
    height: 100vh;
    margin-right: 2px;
    

          
}

.card-content {
    display: flex;
    justify-content: center;
    
}

.card-content-1 {
    padding: 1.5em;
    float: left;
    float: center;
    width: fit-content;
    height: min-content;
    padding: 1.5em;
    background: linear-gradient(
        hsla(0, 0%, 0%, 0),
        rgba(224, 97, 97, 0.4) 20%,
        hsl(0 0% 0% / 1)
    );
   transform: translateY(-30%);
   transition: transform 500ms ease;
         
}

.card-content-2 {
    padding: 1.5em;
    float: right;
    float: center;
    width: fit-content;
    height: min-content;
    padding: 1.5em;
    background: linear-gradient(
        hsla(0, 0%, 0%, 0),
        rgba(224, 97, 97, 0.4) 20%,
        hsl(0 0% 0% / 1)
    );
   transform: translateY(-30%);
   transition: transform 500ms ease;
         
}

.card-content-3 {
    padding: 1.5em;
    float: right;
    float: center;
    width: fit-content;
    height: min-content;
    padding: 1.5em;
    background: linear-gradient(
        hsla(0, 0%, 0%, 0),
        rgba(224, 97, 97, 0.4) 20%,
        hsl(0 0% 0% / 1)
    );
   transform: translateY(-30%);
   transition: transform 500ms ease;

}
    

.about-me-content {
    float:left;
    width: fit-content;
    height: auto;
    color: wheat;
    border-radius: 10px;
    padding: 1.5em;
    background-color:indianred;
    background: linear-gradient(
        hsla(0, 0%, 0%, 0),
        rgba(224, 97, 97, 0.4) 20%,
        hsl(0 0% 0% / 0.99)
    );
   transform: translateY(50%);
   transition: transform 500ms ease;
  
}

.why-fac-title {
    padding: 3px;
    font-size: 18px;
    color: wheat;
}

.why-fac-content {
    float: right;
    width: fit-content;
    height: min-content;
    border-radius: 10px;
    color: wheat;
    padding: 1.5em;
    background-color: indianred;
    background: linear-gradient(
        hsla(0, 0%, 0%, 0),
        rgba(224, 97, 97, 0.4) 20%,
        hsl(0 0% 0% / 0.99)
    );
   transform: translateY(50%);
   transition: transform 500ms ease;

}

.carousel-container {
    margin-top: 0;
    overflow: hidden;
    background-color:indianred;
    border-radius: 10px;
    background: linear-gradient(
        hsla(0, 0%, 0%, 0),
        rgba(224, 97, 97, 0.4) 20%,
        hsl(0 0% 0% / 0.99)
    );
   transform: translateY(50%);
   transition: transform 500ms ease;

    
}

.carousel {
    
    position: relative;
    width: 50vw;
    height: 60vh;
    border-radius: 1rem;
    overflow: hidden;
    margin: auto;
    margin-top: 5px;
    justify-content: center;
    object-fit: cover;
    padding-bottom: 0;
    background: linear-gradient(
        hsla(0, 0%, 0%, 0),
        rgba(0, 0, 0, 0.4) 20%,
        hsl(0 0% 0% / 0.99)
    );
        transform: translateY(-20);
        transition: transform 500ms ease;
     
}

.slide {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    place-items: center;
    transition: all 0.25s ease-in-out;
    
  
}
.slide > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
   
}

.button-container {
  position: absolute;
  transform: translateX(100%);
  padding-right: 1.5px;
  padding-bottom: 10px;
  left: 50%;
  margin-top: 0;
  transform: translateY(-100%);
  

}

.button-container >.prev-Btn .next-Btn {
    cursor: pointer;
    display: flex;
    color: paleturquoise;
    background: rgb(29, 28, 28);
    padding: 5px;
    border-radius: 5px;
    z-index: -2;


}

.prev-Btn {
    left: 1rem;
    transform: translateX(-100%);
    transform: translateY(100%);
    border: 2px solid black;
    border-radius: 4px;
    right: 50%;
    background-color: indianred;

   
    
}

.next-Btn {
    right: 1rem;
    transform: translateX(-100%);
    transform: translateY(100);
    border: 2px solid black;
    border-radius: 4px;
    left: 50%;
    background-color: indianred;
    
    
} 

.prev-Btn:hover, 
.prev-Btn:focus {

    background-color:rgb(8, 146, 89);
    color: rgb(5, 22, 5);
}

.next-Btn:hover,
.next-Btn:focus {

    background-color:rgb(8, 146, 89);
    color: rgb(5, 22, 5);

}
.footer-section {
   display: flex;
   position: relative;
   background: indianred;
   margin-bottom: 0;

}


.footer-links {
    display: flex;
    position: absolute;
    font-size: 25px;
    justify-content: flex-end;
    
       
}

.icon {
    padding: 5px;
}

.icon:hover,
icon:focus {
    
    background-color:rgb(8, 146, 89);
    color: rgb(5, 22, 5);
    
    
}
    
@media screen and (max-width:600px) {
    .card {
        width: auto;
        overflow: auto;
        
    }

    
}