* {
    /* box-sizing: border-box; */
}
body {
    /* margin: 0; */
}

.title {
display:flex;
position: relative;
justify-content: center;

}

.logo {
    display: flex;
    position: absolute;
    justify-content: center;
    padding: 20px;
    font-size: xx-large;
    
}

.title-logo {
    /* display: flex;
    position: absolute; */

}

.header-section {
    display: flex;
    width: 100%;
    height: 100%;
    
    

}

.nav-section {
    margin: 0px;
    
}


.footer-section {
    display: flex;
    position: relative;
   justify-content: center;
}


.footer-links {
    display: flex;
    position: absolute;
    font-size: 25px;
    justify-content: center;


   
  
}

.icon {
    padding: 1px;
}
