* {
    box-sizing: border-box;
    height: auto;
    
}
body {
    width:100%;
    margin: 0;
}

.nav-section {
    background: rgb(247, 225, 225);
    padding-bottom: 100px;
    margin: 0;
    left: 0;
   
    
}

.title {
display:flex;
position: relative;
justify-content: center;
padding: 5px;

}

.logo {
    display: flex;
    position: absolute;
    justify-content: center;
    padding: 5px;
    font-size: xx-large;
    
}

.header-section {
    display: flex;
    width: 100%;
    height: 100vh;
    
}


.title-logo {
    display: flex;
    position: absolute;
    justify-content: center;

}

.nav-content > ul {
    list-style: none;
    
}

.about-me-title {
    font-size: 20px;
    color: red;
    padding: 5px;
}

.about-me-content {
    font-size: 20px;
    color: red;
    padding: 5px;
}

.header-section {
    background-color: grey;
}


.carousel {
    position: relative;
    width: 50vw;
    height: 60vh;
    border: 5px solid black;
    border-radius: 1rem;
    overflow: hidden;
    margin: auto;
    object-fit: cover;
   
}

.slide {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    place-items: center;
    transition: all 0.25s ease-in-out;
    
  
}
.slide > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
   
}

.button-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  
 
}
.prev-Btn {
    left: 1rem;
    
    

}

.next-Btn {
    right: 1rem;
}


.footer-section {
    display: flex;
    position: relative;
   justify-content: center;
   background:grey;
}

.footer-container {
    display: flex;
    background: grey;
}

.footer-links {
    display: flex;
    position: absolute;
    font-size: 25px;
    justify-content: center;
    padding: 5px;
    ;
     
}

.icon {
    padding: 1px;
    padding: 5px;
}
